doctype html
head
  title #{title}
  meta(charset='utf-8')
  style
   include  ../styles/style.css
table
  tbody
    tr
      th Автор
      th Возраст
      th Название
      th Год
    tr
    each item in users
      tr 
       each val, i in item
        td= val